<app-navbar></app-navbar>
<div class="step">
    <h2 class="ctrl">Récap Contrôle</h2>
</div>
    <div class="container my-5">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Minipole</th>
                    <th>Site Centralisateur</th>
                    <th>Matricule</th>
                    <th>Nom et Prénom</th>
                    <th>Anomalie Adresse</th>
                    <th>Anomalie Candidature</th>
                    <th>Anomalie Formation</th>
                    <th>Anomalie Naissance</th>
                    <th>Anomalie Situation Familiale</th>
                    <th>Anomalie Téléphone</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of service.recaps">
                    <td>{{item.libelleMinipole}}</td>
                    <td>{{item.libLonSitCent}}</td>
                    <td>{{item.matcle}}</td>
                    <td>{{item.nmPres}}</td>
                    <td>{{item.resultatAdresse}}</td>
                    <td>{{item.resultatCandidature}}</td>
                    <td>{{item.resultatFormation}}</td>
                    <td>{{item.resultatNaissance}}</td>
                    <td>{{item.resultatSitFam}}</td>
                    <td>{{item.resultatTel}}</td>
                </tr>
            </tbody>
        </table>
    </div>

